# Ignore everything
*

# Except for these directories...
!BCP/  
!BCS/  
!BLI/  
!BLS/  
# BRS/ DEPRECATED
!BRW/  
!BST/  
!BTT/  
!BWR/  
!RAD/  
!RBP/  
!RBU/  
!RES/       
!RET/  
!REU/
!RFE/
!RFL/  
!RFX/  
!RGB/  
!RGI/  
!RGM/  
!RGP/  
# RST/ DEPRECATED
!RTT/

# ...and these files
!.gitignore
!.gitattributes
!*.md
